{% extends 'customer/base.html'%}




{% block content%}

<div class="container mb-5">
    <div class="row justidy-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center"
            <h1> About Us! </h1>
        </div>
    </div>
    <div class=" row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p> Jameel Kitchen is a home-based restaurant that brings a diverse range of international flavors right to your doorstep. We pride ourselves on offering a unique menu that blends comforting classics with creative, globally-inspired dishes, all crafted with fresh, high-quality ingredients. At Jameel Kitchen, we believe that great food should not only taste amazing but also bring joy to those who share it. That’s why we’ve curated a menu that offers something for everyone, whether you’re craving a quick snack or a hearty meal. </p>
            <p>Our specialties include a wide selection of spuds topped with various flavorful options, from savory cheese and herbs to spicy sauces and hearty meats. If you’re in the mood for something crispy, our French fries are a perfect go-to, golden and perfectly seasoned to satisfy your snack cravings. For a more substantial meal, try our signature rice bowls, which come packed with vibrant flavors, offering a balanced mix of protein, veggies, and spices that highlight our love for international cuisine. And if you’re a fan of comfort food, our rich and creamy mashed potatoes are the perfect indulgence.</p>
            <p>Convenience is at the heart of what we offer at Jameel Kitchen. Being home-based, we make our dishes available for easy delivery through Shopee Food and Foodpanda, allowing you to enjoy a restaurant-quality experience wherever you are. Whether you're ordering in for lunch, dinner, or a special occasion, Jameel Kitchen is committed to bringing you delicious meals that satisfy your cravings while introducing you to a world of flavors.</p>
            
        </div>
    </div>
</div>

{% endblock  %}